<%+header%>                                                                    
<h1><%:RaspberryPi eBook%></h1>   

<p style="text-align: center;"><span style="font-size: x-large;"><strong><small>Raspberry Pi Beginner’s Guide 2nd Edition</small></strong></span></p>


<table border="0">
<tbody>
<tr><th style="text-align: center;">树莓派RaspberryPi实战指南</th><th style="text-align: center;">树莓派编程快速入门手册</th></tr>
<tr><th style="text-align: center;" colspan="2">&nbsp;</th></tr>
<tr><th style="text-align: center;" colspan="2">
<a href="<%=resource%>/ebook/Beginners_Guide_v2.pdf" target="_blank"><img align="center" src="<%=resource%>/ebook/RPi_BeginnersGuide_2019.png" alt="" title="Raspberry Pi Beginner’s Guide 2nd Edition" width="300" height="450" /></a><img style="border:0" src="<%=resource%>/ebook/RPi_BeginnersGuide_2019.png" width="1" height="1" alt="" />


</th></tr>
<tr>
<td style="text-align: center;" rowspan="2" align="center"><a title=爱上RASPBERRY PI第2版" href="https://bit.do/Piebook1" target="_blank"> <img src="<%=resource%>/ebook/ebook2.png" alt="爱上RASPBERRY PI第2版" width="300" height="457" border="0" /></a></td>
<td style="text-align: center;" align="center"><a title="爱上RASPBERRY PI第2版  树莓派编程快速入门手册" href="https://bit.do/Piebook2" target="_blank"><img src="<%=resource%>/ebook/ebook1.png" alt="树莓派编程快速入门手册" width="300" height="405" border="0" /></a></td>
</tr>
<tr align="center">
<td style="text-align: center;" align="center"><a href="https://bit.do/Piebook3" target="_blank"><img src="<%=resource%>/ebook/ebook3.png" alt="" width="300" height="405" /></a></td>
</tr>
</tbody>
</table>

                                         
<%+footer%>


