<%+header%>   
<meta charset="utf-8">                                                                 
<h3 style="text-align: center;" color="blue"><%:Free SS SSR V2Ray and Download SS SSR V2 Tools %></h3>      
<html>
<head>
<title>Free SS SSR V2Ray and Download SS SSR V2 Tools</title>
<script>
function SetWinHeight(obj)
{
var win=obj;
if (document.getElementById)
{
if (win && !window.opera)
{
if (win.contentDocument && win.contentDocument.body.offsetHeight)
win.height = win.contentDocument.body.offsetHeight;
else if(win.Document && win.Document.body.scrollHeight)
win.height = win.Document.body.scrollHeight;
}
}
}
</script>
<body>

<table border="2" width="50%"  align="center">

<tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeSS"  onclick="javascript:window.open('https://bit.do/FreeSS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeSSR"  onclick="javascript:window.open('https://bit.do/FreeSSR');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeV2Ray"  onclick="javascript:window.open('https://bit.do/FreeV2Ray');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeProxy"  onclick="javascript:window.open('https://bit.do/FreeProxy');"  /></td>
  </tr>

  <tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-Win"  onclick="javascript:window.open('https://bit.do/SS-Win');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-Mac"  onclick="javascript:window.open('https://bit.do/SS-Mac');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-iOS"  onclick="javascript:window.open('https://bit.do/SS-iOS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-Andriod"  onclick="javascript:window.open('https://bit.do/SS-Andriod');"  /></td>
  </tr>
  <tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-Win"  onclick="javascript:window.open('https://bit.do/SSR-Win');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-Mac"  onclick="javascript:window.open('https://bit.do/SSR-Mac');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-iOS"  onclick="javascript:window.open('https://bit.do/SSR-iOS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-Andriod"  onclick="javascript:window.open('https://bit.do/SSR-Andriod');"  /></td>
  </tr>
  <tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-Win"  onclick="javascript:window.open('https://bit.do/V2Ray-Win');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-Mac"  onclick="javascript:window.open('https://bit.do/V2Ray-Mac');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-iOS"  onclick="javascript:window.open('https://bit.do/V2Ray-iOS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-Andriod"  onclick="javascript:window.open('https://bit.do/V2Ray-Andriod');"  /></td>
  </tr>
<tr></tr>
<tr><td><input class="cbi-button cbi-button-apply" type="button" value="Feedback"  onclick="javascript:window.open('https://t.me/vpnv2ray');"  /> </td>
<td><input class="cbi-button cbi-button-apply" type="button" value="Support"  onclick="javascript:window.open('https://t.me/tony_cn');"  /> </td>
<td> <p align="center"><a href="https://t.me/tony_cn" target="_blank">    </a></p> </td>
</tr>  
</table>

<p align="center"><a href="https://t.me/tony_cn" target="_blank"><img src="<%=media%>/tony.gif" alt="Contact Tony" align="center" /></a></p>

</body>
</html>

<%+footer%>