<%+header%>                                                                    
<h1><%:GoogleCloud%></h1>      

<p style="text-align: center;"><span style="font-size: x-large;"><strong>Get Free Google Cloud Platform + $350 Free Credit </strong></span></p>


<table border="0">
<tbody>
<tr><th style="text-align: center; font-size: x-large;"><a href="https://bit.do/GoogleCloud" target="_blank">科学上网 & 最新撸谷歌云的方法</a></th></tr>
<tr><th style="text-align: center; font-size: xx-large;" colspan="2"><a href="https://bit.do/GoogleCloud" target="_blank">点击下面的链接注册谷歌云可以获得价值$350赠金的赠送</a></th></tr>
<tr><th style="text-align: center; font-size: x-large;" colspan="2"><a href="https://bit.do/GoogleCloud" target="_blank">    </a></th></tr>
<tr><th style="text-align: center; font-size: x-large;" colspan="2"><img src="<%=resource%>/smile.png"  />  <a href="https://bit.do/GoogleCloud" target="_blank">https://bit.do/GoogleCloud</a></th></tr>
<tr align="center">
<td style="text-align: center;" align="center"><a href="https://bit.do/GoogleCloud" target="_blank"><img src="<%=resource%>/GoogleCloud.gif" alt="" width="800" height="480" /></a></td>
</tr> 
<tr align="center">
<td style="text-align: center;" align="center"><img src="<%=resource%>/smile.png"  />  <a href='https://bit.do/GoogleCloud' target='_blank'><input align='center' type='button' value='获得 $350赠金 https://bit.do/GoogleCloud'  class='cbi-button cbi-button-apply'></a><br></td>
</tr>
</tbody>
</table>
                                         
<%+footer%>


