<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<p><a href="<%=controller%>/admin/reboot?reboot=1"><%:Reboot%></a></p>
<h2 name="content"  align="center"><%:Reboot%></h2>
<p  align="center"><%:Reboots the operating system of your device%></p>

<h2  align="center"><p >
<input class="cbi-button cbi-button-apply" type="button" value="<%:Perform reboot%>" onclick="reboot(this)" />
</p></h2 >
<hr />


<%- local c = require("luci.model.uci").cursor():changes(); if c and next(c) then -%>
	<p class="alert-message warning"><%:Warning: There are unsaved changes that will get lost on reboot!%></p>
<%- end -%>

<hr />

<script type="text/javascript">//<![CDATA[
	var tries = 0;

	function ok() {
		window.location = '<%=controller%>/admin';
	}

	function check() {
		if (tries++ < 12)
			window.setTimeout(ping, 5000);
		else
			alert('<%:Device unreachable%>');
	}

	function ping() {
		var img = document.createElement('img');

		img.onload = ok;
		img.onerror = check;
		img.src = '<%=resource%>/icons/loading.gif?' + Math.random();

		document.getElementById('reboot-message').innerHTML = '<%:Waiting for device...%>';
	}

	function reboot(button) {
		button.style.display = 'none';
		document.getElementById('reboot-message').parentNode.style.display = '';

		(new XHR()).post('<%=controller%>/admin/system/reboot/call', { token: '<%=token%>' }, check);
	}
//]]></script>

<table border="2" width="50%"  align="center">
	<tr><th>
<input class="cbi-button cbi-button-apply" type="button" value="<%:Perform reboot%>" onclick="reboot(this)" />
</th>
<p class="alert-message" style="display:none">
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="reboot-message"><%:Device is rebooting...%></span>
</p>

<th>
<input class="cbi-button cbi-button-apply" type="button" value="Telegram"  onclick="javascript:window.open('https://t.me/tony_cn');"  />
</th>

<th>
<form method="post" action="<%=url('admin/system/advanced_reboot/power_off')%>">
	<input type="hidden" name="token" value="<%=token%>" />
  <input id="poweroff-button" type="submit" class="cbi-button cbi-button-apply" value="<%:Perform power off...%>" />
</form>
</th>

<th>
<a href="https://t.me/vpnv2ray" target="_blank"><input class="cbi-button cbi-button-apply" type="button" value="Telegram" /></a>
</th>
  <tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeSS"  onclick="javascript:window.open('https://bit.do/FreeSS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeSSR"  onclick="javascript:window.open('https://bit.do/FreeSSR');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeV2Ray"  onclick="javascript:window.open('https://bit.do/FreeV2Ray');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="FreeProxy"  onclick="javascript:window.open('https://bit.do/FreeProxy');"  /></td>
  </tr>
  <tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-Win"  onclick="javascript:window.open('https://bit.do/SS-Win');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-Mac"  onclick="javascript:window.open('https://bit.do/SS-Mac');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-iOS"  onclick="javascript:window.open('https://bit.do/SS-iOS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SS-Andriod"  onclick="javascript:window.open('https://bit.do/SS-Andriod');"  /></td>
  </tr>
  <tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-Win"  onclick="javascript:window.open('https://bit.do/SSR-Win');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-Mac"  onclick="javascript:window.open('https://bit.do/SSR-Mac');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-iOS"  onclick="javascript:window.open('https://bit.do/SSR-iOS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="SSR-Andriod"  onclick="javascript:window.open('https://bit.do/SSR-Andriod');"  /></td>
  </tr>
  <tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-Win"  onclick="javascript:window.open('https://bit.do/V2Ray-Win');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-Mac"  onclick="javascript:window.open('https://bit.do/V2Ray-Mac');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-iOS"  onclick="javascript:window.open('https://bit.do/V2Ray-iOS');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="V2Ray-Andriod"  onclick="javascript:window.open('https://bit.do/V2Ray-Andriod');"  /></td>
  </tr>
<tr><p align="center"><a href="https://t.me/tony_cn" target="_blank"><img src="<%=media%>/tony.gif" alt="Contact Tony" align="center" /></a></p></tr>
</table>


<br />
<%+footer%>

