<%+header%>   
<meta charset="utf-8">                                                                 
<h3 style="text-align: center;" color="blue"><%:Join Telegram Communication Groups%></h3>      
<html>
<head>
<title>Telegram Me or Join Telegram Communication Groups</title>
<script>
function SetWinHeight(obj)
{
var win=obj;
if (document.getElementById)
{
if (win && !window.opera)
{
if (win.contentDocument && win.contentDocument.body.offsetHeight)
win.height = win.contentDocument.body.offsetHeight;
else if(win.Document && win.Document.body.scrollHeight)
win.height = win.Document.body.scrollHeight;
}
}
}
</script>
<body>

<table border="2" width="50%"  align="center">

<tr>
    <td><input class="cbi-button cbi-button-apply" type="button" value="Feedback"  onclick="javascript:window.open('https://t.me/vpnv2ray');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="Telegram Groups"  onclick="javascript:window.open('https://t.me/tony_cn');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="Video"  onclick="javascript:window.open('https://bit.do/TonyCN');"  /></td>
    <td><input class="cbi-button cbi-button-apply" type="button" value="Course"  onclick="javascript:window.open('https://bit.do/TonyYouTube');"  /></td>
  </tr>

<tr><td> </td>
<td> </td>
<td> <p align="center"><a href="https://t.me/tony_cn" target="_blank">    </a></p> </td>
</tr>  
</table>

<p align="center"><a href="https://t.me/tony_cn" target="_blank"><img src="<%=media%>/tony.gif" alt="Contact Tony" align="center" /></a></p>

</body>
</html>

<%+footer%>