<%+header%>                                                                    
<h1><%:VPN & VPS%></h1>      

<p style="text-align: center;"><span style="font-size: x-large;"><strong><small>Quick&nbsp;Access&nbsp;Useful Ladder</small></strong></span></p>


<table border="0">
<tbody>
<tr><th style="text-align: center;">WindscribeVPN</th><th style="text-align: center;">ZoogVPN</th></tr>
<tr><th style="text-align: center;" colspan="2">&nbsp;</th></tr>
<tr><th style="text-align: center;" colspan="2">
<a href="https://billing.ivacy.com/page/90680/f8a8a7e2" target="_blank"><img align="center" src="<%=resource%>/ivacy1.png" alt="" title="" width="728" height="90" /></a><img style="border:0" src="http://ivacy.postaffiliatepro.com/scripts/vdegzkxiw?aff=90680&amp;a_bid=f8a8a7e2" width="1" height="1" alt="" />

</th></tr>
<tr>
<td style="text-align: center;" rowspan="2" align="center"><a title="Windscribe's Unique Features" href="https://windscribe.com/?friend=y5umdkci" target="_blank"> <img src="<%=resource%>/windscribe.png" alt="Access blocked websites" width="374" height="475" border="0" /></a></td>
<td style="text-align: center;" align="center"><a title="Free Zoog VPN Service" href="https://zoogvpn.com/sign-up?ref=ttywxu" target="_blank"><img src="<%=resource%>/zoogvpn.png" alt="Access blocked websites" width="300" height="250" border="0" /></a></td>
</tr>
<tr align="center">
<td style="text-align: center;" align="center"><a href="https://www.vultr.com/?ref=7965370" target="_blank"><img src="<%=resource%>/vultr1.png" alt="" width="300" height="250" /></a></td>
</tr>
</tbody>
</table>
                                         
<%+footer%>


